<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<header class="header">
		<div class="logoPlacement">
			<img class="logo" src="Cardis-logo.png" alt="Cardis ISEP" />
			<div class="topSearch">
				<a href="#search"> <i class="fa fa-search"></i> Rechercher</a>
				
				<!-- <input type="text" name="search" placeholder="Rechercher">
				<button class="searchButton">
					<i class="glyphicon glyphicon-search"></i>
				</button> -->
			</div>
			<div id="search">
				<span class="close">X</span>
				<form role="search" id="searchform" action="/search" method="get">
					<input value="" name="q" type="search" placeholder="Rechercher" />
				</form>
			</div>

		</div>

	</header>
</body>
</html>