body{
	background-color: #f0f4fb;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.navbar-light{
	background-color: #fff !important;
	box-shadow: 0 4px 6px rgba(79,137,237,.07),0 1px 3px rgba(79,137,237,.04);
	webkit-box-shadow: 0 4px 6px rgba(79,137,237,.07),0 1px 3px rgba(79,137,237,.04);
}
.logo_nav{
	width:184px;
	height:50px;
}
.header_logo_nav{
	padding-bottom:0 !important;
	padding-top:0 ! important;
}
.mr-auto{
	margin-right:auto !important;
}
.float-right{
	float:right;	
}
.logo-isep-nav{
	width: 94px;
	height: 35px;
	margin-top:5px;
}
/*////////////////////*/
/* .card{
	box-shadow: 0 7px 14px 0 rgba(79,137,237,.08),0 3px 6px 0 rgba(79,137,237,.05);
	background-color: #fff;
	border-radius: .25rem;
	background-clip: border-box;
	margin-top:100px;
}
.card-body{
	overflow: hidden;
	text-align: center;
	padding: 3rem;
	flex: 1 1 auto;
}
h2{
	font-size: 20x;
	font-weight: 500;
	line-height:1.2;
} */
body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  margin-top:100px;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 60px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;

}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #4f89ed;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color:#4f89ed;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 20px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #4f89ed;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  text-align: center;
}
.card .button-container button{
  width: 100%;
}