<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<meta charset="utf-8" />

<title>Formulaire</title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>   
<script type="text/javascript" th:src="@{/formsheet.js}"></script> 

<link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/apple-icon.png}" />
<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<!-- CSS Files -->
<link th:href="@{/CSS/material-bootstrap-wizard.css}" rel="stylesheet" />

<!--   Core JS Files   -->
<script th:src="@{/jquery.bootstrap.js}" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script th:src="@{/material-bootstrap-wizard.js}"></script>

   <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script th:src="@{/jquery.validate.min.js}"></script>
</head>

<body>

	<aside th:include="fragments/sideBar.html :: aside"> </aside>

	<div class="image-container set-full-height" style="background-image: url('/images/white.png')">


	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="blue" id="wizardProfile">

		                    <form action="#" th:action="@{/sheet/add}" th:object="${sheet}" th:method="put" class="well span8">

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        	   Créer votre fiche
		                        	</h3>
		                    	</div>

								<div class="wizard-navigation">
									<ul>
			                            <li><a href="#about" data-toggle="tab">Description</a></li>
			                            <li><a href="#account" data-toggle="tab">Contenu</a></li>
			                            <li><a href="#address" data-toggle="tab">Autres</a></li>
			                        </ul>
								</div>



		                        <div class="tab-content">
		                            <div class="tab-pane" id="about">
		                              <div class="row">
		                                	<h5 class="info-text"> Informations générales </h5>

		                                	<div class="col-sm-6">
												<div class="input-group">
													<span class="input-group-addon">
													 <i class="material-icons">input</i> 
													</span>
													<div class="form-group label-floating">
			                                          <label class="control-label">Titre fiche </label>
			                                          <input name="firstname" type="text" class="form-control" th:field="*{title}">
			                                        </div>
												</div>

												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">perm_identity</i>
													</span>
													<div class="form-group label-floating">
													  <label class="control-label">identifiant </label>
													  <input name="lastname" type="text" class="form-control" th:field="*{login}">
													</div>
												</div>

                                                    <div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">perm_identity</i>
													</span>
													<div class="form-group label-floating">
													  <label class="control-label">Responsable </label>
													  <select type="text" class="form-control" name="state" id="responsable" th:field="*{user}" th:each="teacher : ${teachers}">
														  <option th:value="${teacher.id}" th:text="${teacher.firstname} + ' ' + ${teacher.lastname}">
	                                                       </option> 
                                                       </select>
													</div>
												</div>

												<div class="checkbox">
	                                           <label>
		                                      <input type="checkbox" name="optionsCheckboxes" th:value="*{isteamwork}">
		                                      Travail en équipe ?
	                                              </label>
                                                    </div>
		                                	</div>
		                                    <div class="col-sm-6">
				
			                                   <div class="input-group">
			                                        <div class="form-group label-floating">
			                                        		<label class="control-label">credits ECTS</label>
		                                        			 <input name="ects" type="number" class="form-control" th:field="*{ects}">
	                                    	        		</div>
		                                    	    <textarea id="motsclesTextArea" class="form-control" placeholder="Mots-Clés" rows="2" th:field="*{keywords}"></textarea>
		                                    	</div>		
		                                	</div>
		                            	</div>
		                            </div>

		 

		                            <div class="tab-pane" id="account">
		                                <h4 class="info-text"> Contenu de la fiche </h4>
		                                <div class="row">
		                                    <div class="col-sm-10 col-sm-offset-1">

                                            <div class="col-sm-12">
												<div class="input-group">
													<div class="form-group label-floating">
			                                          <label class="control-label">Description des heures </label>
			                                          <input name="firstname" type="text" class="form-control" rows="2" th:field="*{hours}">
			                                        </div>
												</div>

												<div class="input-group">
													<div class="form-group label-floating">
													  <label class="control-label">Pré-requis </label>
													  <input name="lastname" type="text" class="form-control" th:field="*{requirement}">
													</div>
												</div>

                                                    <div class="input-group">
													<div class="form-group label-floating">
													  <label class="control-label">Outils Professeurs </label>
													  <input name="lastname" type="text" class="form-control" th:field="*{teacherTools}">
													</div>
												</div>


												<div class="input-group">
													<div class="form-group label-floating">
													  <label class="control-label">Outils Eleves </label>
													  <input name="lastname" type="text" class="form-control" th:field="*{studentTools}" >
													</div>
												</div>

												<div class="input-group">
													<div class="form-group label-floating">
													  <label class="control-label">Mobilisations ultérieures </label>
													  <input name="lastname" type="text" class="form-control" th:field="*{nextModule}">
													</div>
												</div>
					<label class="control-label">Présentation du module </label>
                    <textarea  class="form-control" placeholder="Présentation du module" rows="5" th:field="*{description}"></textarea>
					<label class="control-label">Méthodes d’apprentissages </label>
					<textarea  class="form-control" placeholder="Méthodes d’apprentissages" rows="5" th:field="*{learningMethod}"></textarea>
					<label class="control-label"> Présentation du module </label>				
					<textarea  class="form-control" placeholder="Contenu" rows="5" th:field="*{content}"></textarea>

		                                	</div>

		                                    </div>
		                                </div>
		                            </div>

              

		                            <div class="tab-pane" id="address">
		                                <div class="row">
		                                    <div class="col-sm-12">
		                                        <h4 class="info-text"> Autres </h4>
		                                    </div>
		                                    <div class="col-sm-7 col-sm-offset-1">
	                                        	<div class="form-group label-floating">
	                                        		<label class="control-label">Langues</label>
	                                    			<input type="text" class="form-control" th:field="*{language}">
	                                        	</div>
		                                    </div>
		                                    <div class="col-sm-3">
		                                        <div class="form-group label-floating">
		                                            <label class="control-label">Bibliographie</label>
		                                            <input type="text" class="form-control" th:field="*{bibliography}">
		                                        </div>
		                                    </div>
		                                    <div class="col-sm-5 col-sm-offset-1">
		                                        <div class="form-group label-floating">
		                                            <label class="control-label">Modalité d'evaluation</label>
		                                            <input type="text" class="form-control" th:field="*{grade_rating}">
		                                        </div>
		                                    </div>
		                                    <div class="col-sm-8">
		                                        <div class="form-group label-floating">
		                                            <label class="control-label">Compétence principale</label>
		                                            	<!-- <select name="country" class="form-control" th:field="*{skills}">
															<option disabled="" selected=""></option>
		                                                	<option value="ecouter"> Ecouter </option>
		                                                	<option value="travail"> Travailler en équipe </option>
		                                                	<option value="parler"> communiquer</option>
		                                                	<option value="agir"> Agir </option>
		                                            	</select>  -->
		                                            	<select  th:field="*{skills}" class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 295px;">
			                                            	<th:block th:each="skill : ${skills}">
									                        <option th:value="${skill.id}" th:text="${skill.skill}"> </option>
							                            </th:block>
						                             </select>

		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="wizard-footer">
		                            <div class="pull-right">
		                                <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Suivant' />
		                                <button type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Validation' id="send">Valider</button>
		                            </div>

		                            <div class="pull-left">
		                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Precedent' />
		                            </div>
		                            <div class="clearfix"></div>
		                        </div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div><!-- end row -->
	    </div> <!--  big container -->

	    <div class="footer">

	    </div>
	</div>

</body>
</html>
