<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${sheet.title}"></title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">

				<div class="panel-group" id="accordion" role="tablist"
					aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion"
									href="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne"> Information </a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in"
							role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<span th:text="'Title : '+ ${sheet.title}"></span><br>
								<span
									th:text="'Responsable : '+ ${sheet.information.user.firstname} + ' ' + ${sheet.information.user.firstname}"></span><br>
								<span th:text="'Annee scolaire : '+ ${sheet.academicYear}"></span><br>
								<span th:text="'Identifiant : '+ ${sheet.information.login}"></span><br>
								<span th:text="'Tag : '+ ${sheet.information.tag}"></span><br>
								 <span
									th:text="'Equipement : '+ ${sheet.information.devices}"></span><br>
								<span
									th:text="${'Travail en equipe' + sheet.information.isTeamWork}"></span><br>
								<span
									th:text="'Nombre d’heure : '+ ${sheet.information.hour.total} + ' Total dont '+ ${sheet.information.hour.tutorial} + ' d’heures de tp'"></span><br>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse"
									data-parent="#accordion" href="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									Description </a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse"
							role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<span
									th:text="'Descrption : '+ ${sheet.description.description}"></span><br>
								<span
									th:text="'Evaluation : '+ ${sheet.description.modality.evaluation}"></span><br>
								<span
									th:text="'Apprentissage : '+ ${sheet.description.modality.learning}"></span><br>
								<span
									th:text="'Langue : '+ ${sheet.description.modality.language}"></span><br>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse"
									data-parent="#accordion" href="#collapseThree"
									aria-expanded="false" aria-controls="collapseThree">
									Objectif</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse"
							role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<span th:if="${sheet.description.purpose.sheet}"> <a
									th:href="@{'/Sheets/' + ${sheet.description.purpose.sheet.id}}"
									th:text="Prerequis : '+ ${sheet.description.purpose.sheet.title}"></a></span><br>
								<span
									th:text="'Contenu : '+ ${sheet.description.purpose.contents}"></span><br>
								<span
									th:text="'Outil du professeur : '+ ${sheet.description.purpose.teacherTools}"></span><br>
								<span
									th:text="'Outil des eleves : '+ ${sheet.description.purpose.studentTools}"></span><br>
							</div>
						</div>
					</div>


				</div>
				<!-- /.panel-group -->

			</div>
			<!-- /.col-md-offset-3 col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</body>
</html>