<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Skills</title>
	<link th:href="@{/CSS/EditSkill.css}" rel="stylesheet"/>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/EditSkill.js}"></script>
	<link th:href="@{/CSS/sideBar.css}" rel="stylesheet"/>
</head>
<body>
<aside th:include="fragments/sideBar.html :: aside"> </aside>
	<div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <label class="control-label" for="field1">Ajouter des compétences</label>
            <div class="controls"> 
                <form role="form" autocomplete="off" action="#" th:action="@{/skills/add}" th:method="put">
                    <div class="entry input-group col-xs-3">
                        <input class="form-control" name="fields[]" type="text" placeholder="Type something" />
                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                        <input type="submit" value="enregistrer"/>
                </form>
            <br>
            <small>Cliquez sur <span class="glyphicon glyphicon-plus gs"></span> pour ajouter une autre compétence</small>
            </div>
        </div>
	</div>
</div>
</body>
</html>